
// Adjust the attributes below to set a specific height to your banners for different breakpoints

// Your responsive images should display at the small, medium, large and xlarge breakpoits and
// fill in any gaps above and below the banner image

// For using a max-height, instead of a specific height, uncomment the
// position:absolute and positioning atributes in .bannerimage__image

.bannerimage {
    clear: both;
    height: 450px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    @media #{$max-1024}{
        height: 350px;
        margin-bottom: 50px;
    }
    @media #{$max-640}{
        height: 300px;
    }
    &:before{
        content: "";
        background-image: url("/sites/default/files/images/pattern_slider.png");
        width: 25%;
        height: 450px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:2;
        @media #{$max-1024}{
            width: 25px;
            background-image: url("/sites/default/files/images/pattern_small.png");
        }
    }
}

.bannerimage__image {
    left: -9999px;
    bottom: -9999px;
    right: -9999px;
    top: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    object-fit: cover;
    // transform: translate(-50%, -50%);
    // @media #{$medium-up} {
    //     min-width: 800px;
    // }
    // @media #{$large-up} {
    //     height: 50vh;
    //     width: 100vw;
    //     object-fit: cover;
    //     min-width: 1076px;
    // }

    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}