// Non-modular or client styles for .l-footer region.
.l-footer{
  background-color: #0497e4;
  padding: 40px 0;
  position: relative;
  @media #{$max-1024}{
    padding: 0;
  }
  &:before{
    content:"";
    background-image: url("/sites/default/files/images/footer_pattern.png");
    position: absolute;
    width: 25%;
    height: 135px;
    display: block;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center left;
    @media #{$max-1024}{
      display: none;
    }
  }
  ul{
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    @media #{$max-1024}{
      text-align: center;
    }
    li{
      float: left;
      display: inline-block;
      padding: 15px 20px;
      border-right: 2px solid #0ea6f5;
      @media #{$max-1024}{
        display: block;
        float: none;
        border-right: 0;
        border-bottom:1px solid rgba(255, 255, 255, 0.4);
        padding: 0;
      }
      a{
        color:#fff;
        font-size: 16px;
        font-family: $title-font;
        font-weight: 400;
        display: inline-block;
        @media #{$max-1024}{
          display: block;
          padding: 15px 0;
        }
        &:after{
          content:'';
          display: block;
          border-bottom:1px solid rgba(255, 255, 255, 0.7);
          @media #{$max-1024}{
            display: none;
          }
        }
        &:hover{
          @media #{$max-1024}{
            color:#45525a;
          }
          &:after{
            border-bottom:1px solid rgba(255, 255, 255, 1);
          }
        }
        &.active{
          color:#45525a;
        }
      }
    }
    li.website_by{
      float:right;
      border-right:0;
      @media #{$max-1024}{
        display: block;
        border:0;
        float: none;
      }
      a{
        &:after{
          width: 55%;
          float: right;
          @media #{$max-1024}{
            display: none;
          }
        }
      }
    }
  }
}