// Non-modular or client styles for .l-header region.

.l-header{
  background: #f6f6f6;
  position: relative;
  &:after{
    content:"";
    background-image: url("/sites/default/files/images/pattern_top.png");
    position: absolute;
    width: 25%;
    height: 157px;
    display: block;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    background-position: center left;
    @media #{$max-1024}{
      display: none;
    }
  }
}
.logo-top{
  background-image: url("/sites/default/files/images/logo.png");
  width: 314px;
  height: 81px;
  float: left;
  margin: 38px 0;
  transition: 0.1s ease-in-out opacity;
  opacity:1;
  position: relative;
  z-index: 2;
  &:hover{
    opacity: 0.7;
  }
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  @media #{$max-1024}{
    width: 190px;
    height: 54px;
    margin: 24px 0 22px 35px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    z-index: 2;
  }
  @media #{$max-375}{
    width: 151px;
    height: 40px;
    margin: 33px 0 25px 35px;
  }
}
.phone-number{
  float: right;
  display: inline-block;
  margin-top: 63px;
  @media #{$max-1024}{
    margin-right: 80px;
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 2;
    margin-top: 0;
  }
  @media #{$max-375}{
    margin-right: 62px;
    top: 30px;
  }
  a{
    font-size: 28px;
    font-weight: 500;
    font-family: $title-font;
    color:#0497e4;
    @media #{$max-1024}{
      font-size: 0;
    }
    &:before{
      content: "";
      background-image: url("/sites/default/files/images/phone.png");
      width: 44px;
      height: 44px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      background-repeat: no-repeat;
      background-position: -67px 0;
      @media #{$max-375}{
        width: 30px;
        height: 30px;
        background-position: -45px 0;
        background-size: cover;
      }
    }
    &:hover{
      &:before{
        background-position: 0 0;
      }
    }
  }
}

.contain-to-grid{
  background: #fff;
}
.top-bar{
  background: #fff;
  height: 4.5rem;
  line-height: 4.5rem;
  @media #{$max-1024}{
    height: 100px;
    line-height: 100px;
  }
  .name{
    @media #{$max-1024}{
      height: 100px;
    }
  }
}
.top-bar-section li:not(.has-form) a:not(.button){
  font-weight: 400;
  font-size: 20px;
  font-family: $title-font;
  color:#45525a;
  padding: 0 13px;
  background: #fff;
  line-height: 4.5rem;
  @media #{$max-1024}{
    color: #fff;
    padding: 18px 35px;
    line-height: 1;
    background: #00a9e8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}
.top-bar-section li:not(.has-form).last a:not(.button){
  @media #{$max-1024}{
    border-bottom: 0;
  }
}
.top-bar-section .has-dropdown > a {
  padding-right: 13px !important;
  @media #{$max-1024}{
    padding-right: 35px !important;
  }
}
.top-bar-section .has-dropdown > a:after{
  top: inherit;
  bottom: 0;
  left: 0;
  margin: 6px auto;
  border-color: #afb3b5 transparent transparent transparent;
  @media #{$max-1024}{
    left: inherit;
    right:35px;
    margin: -4.5px 0 0 0;
    top:50%;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
  }
}
.top-bar-section ul li:hover:not(.has-form) > a{
  color:#0497e4;
  background: #fff;
  @media #{$max-1024}{
    background-color: #00a9e8;
    color:#fff;
  }
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
  color:#0497e4;
  background: #fff;
  @media #{$max-1024}{
    color: #fff;
    background: #30bbf0;
  }
  &:after{
    border-color: #0497e4 transparent transparent transparent;
    @media #{$max-1024}{
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
    }
  }
}
.top-bar-section ul li:not(.has-form) a:not(.button).active{
  color:#45525a;
  font-weight: 700;
  &:after{
    border-color: #45525a transparent transparent transparent;
  }
  @media #{$max-1024}{
    color:#fff;
    font-weight: 700;
    &:after{
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
    }
  }
}
.top-bar-section ul li > ul.dropdown li{
  background: #f6f6f6;
  @media #{$max-1024}{
    background: #00a9e8;
  }
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button){
  background: #f6f6f6;
  color: #45525a;
  line-height: 3rem;
  padding: 0 50px 0 13px;
  @media #{$max-1024}{
    color: #fff;
    padding: 18px 35px;
    line-height: 1;
    background: #00a9e8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
  color: #fff;
  background-color: #0497e4;
  background: #0497e4;
  @media #{$max-1024}{
    color: #fff;
    background: #30bbf0;
  }
}
.top-bar-section .dropdown li:not(.has-form).last > a:not(.button){
  @media #{$max-1024}{
    border-bottom: 0;
  }
}
.top-bar-section ul li:not(.has-form) .dropdown li a:not(.button).active{
  font-weight: 700;
}

.top-bar .toggle-topbar.menu-icon a span::after{
  background-image: url("/sites/default/files/images/dropdown_button.png");
  width: 34px;
  height: 28px;
  box-shadow: none;
  background-position: -40px -1px;
  margin-top: -12px;
  right: 35px;
  @media #{$max-375}{
    width: 27px;
    height: 22px;
    box-shadow: none;
    background-position: -26px -1px;
    margin-top: -10px;
    background-size: cover;
  }
}
.top-bar .toggle-topbar.menu-icon a{
  @media #{$max-1024}{
    padding: 0 2.5rem 0 1.9375rem;
  }
}
.top-bar.expanded .toggle-topbar a span::after{
  background-position: -2px -1px;
  @media #{$max-375}{
    background-position: 1px -1px;
  }
}
.top-bar.expanded .title-area{
  background: #fff;
}
.top-bar-section .dropdown li.title h5 a:hover, .top-bar-section .dropdown li.parent-link a:hover{
  @media #{$max-1024}{
    color: #fff;
    background: #30bbf0;
  }
}
.top-bar-section .left li.last .dropdown {
  right: 0;
  left: auto;
  @media #{$max-1024}{
    right: inherit;
    left: 100%;
  }
}