// Non-modular or client styles for the .l-content region.
.welcome{
  span{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color:#0497e4;
    display:block;
    @media #{$max-1024}{
      font-size: 16px;
    }
    @media #{$max-640}{
      font-size: 14px;
    }
  }
  h2{
    color:#0497e4;
    font-size: 40px;
    font-weight: 900;
    margin-left: -8.3333333333%;
    position: relative;
    margin-top: 10px;
    @media #{$max-1024}{
      margin-left: 0;
      font-size: 26px;
      margin-top: 0;
    }
    &:after{
      content:"";
      border: 1px solid #aaaeb0;
      display: block;
      width: 1px;
      height: 150px;
      margin-left: 45px;
      position: absolute;
      bottom: -160px;
      @media #{$max-1024}{
        height: 150px;
        margin-left: -15px;
        bottom: -142px;
      }
    }
    &:before{
      content:"";
      border: 1px solid #0497e4;
      display: block;
      width: 1px;
      height: 60px;
      margin-left: 45px;
      position: absolute;
      top: -70px;
      @media #{$max-1024}{
        top:-50px;
        margin-left: -15px;
        height: 80px;
      }
    }
  }
  h3{
    font-size: 18px;
    font-style: italic;
    color: #45525a;
    margin-bottom: 80px;
    @media #{$max-1024}{
      font-size: 16px;
      margin-bottom: 50px;
    }
    @media #{$max-640}{
      font-size: 14px;
    }
  }
}
.feature-nav-col{
  width: 25%;
  float: left;
  padding: 0 15px;
  text-align: center;
  color:#45525a;
  @media #{$max-1024}{
    padding: 0 10px;
  }
  @media #{$max-768} {
    width: 50%;
    margin-bottom: 30px;
  }
  @media #{$max-640}{
    padding: 0 10px;
    margin-bottom: 20px;
  }
  @media #{$max-350}{
    width: 100%;
  }
  p{
    font-weight: 900;
    font-size: 20px;
    color:#45525a;
    @media #{$max-1024} {
      font-size: 18px;
    }
    @media #{$max-480} {
      font-size: 16px;
    }
  }
}
.feature-nav-inner-col{
  border: 2px solid #eeeeee;
  height: 295px;
  border-radius: 35px;
  padding: 10px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover{
    border: 2px solid #0497e4;
  }
  @media #{$max-1024} {
    height: 300px;
    padding: 10px 15px;
  }
  @media #{$max-830}{
    height: 280px;
  }
  @media #{$max-768}{
    height: 420px;
    padding: 10px 10px;
  }
  @media #{$max-640}{
    height: 350px;
  }
  @media #{$max-480}{
    height: 280px;
  }
}
.feature-nav{
  margin-bottom: 80px;
  margin-top: 50px;
  @media #{$max-1024} {
    padding: 0 20px;
  }
}
.weight-loss-surgery-bg{
  background-image: url("/sites/default/files/images/weight_loss.png");
  width: 143px;
  height: 135px;
  display: block;
  margin: 20px auto;
  background-position: center;
  @media #{$max-1024} {
    width: 130px;
    height: 125px;
    margin:20px auto 20px auto;
    background-size: contain;
  }
  @media #{$max-830}{
    width: 125px;
    height: 115px;
    margin: 20px auto 20px auto;
  }
  @media #{$max-768}{
    width: 130px;
    height: 125px;
    margin: 110px auto 20px auto;
  }
  @media #{$max-640} {
    margin:60px auto 20px auto;
  }
  @media #{$max-480}{
    background-size: contain;
    width: 96px;
    height: 90px;
    margin:50px auto 20px auto;
  }
}
.anti-reflux-surgery-bg{
  background-image: url("/sites/default/files/images/anti_reflux.png");
  width: 143px;
  height: 135px;
  display: block;
  margin: 20px auto;
  background-position: center;
  @media #{$max-1024} {
    width: 130px;
    height: 125px;
    margin:20px auto 20px auto;
    background-size: contain;
  }
  @media #{$max-830}{
    width: 125px;
    height: 115px;
    margin: 20px auto 20px auto;
  }
  @media #{$max-768}{
    width: 130px;
    height: 125px;
    margin: 110px auto 20px auto;
  }
  @media #{$max-640} {
    margin:60px auto 20px auto;
  }
  @media #{$max-480}{
    background-size: contain;
    width: 96px;
    height: 90px;
    margin:50px auto 20px auto;
  }
}
.enhanced-recovery-surgery-bg{
  background-image: url("/sites/default/files/images/enhanced_recovery.png");
  width: 143px;
  height: 135px;
  display: block;
  margin: 20px auto;
  background-position: center;
  @media #{$max-1024} {
    width: 130px;
    height: 125px;
    margin:20px auto 20px auto;
    background-size: contain;
  }
  @media #{$max-830}{
    width: 125px;
    height: 115px;
    margin: 20px auto 20px auto;
  }
  @media #{$max-768}{
    width: 130px;
    height: 125px;
    margin: 110px auto 20px auto;
  }
  @media #{$max-640} {
    margin:60px auto 20px auto;
  }
  @media #{$max-480}{
    background-size: contain;
    width: 96px;
    height: 90px;
    margin:50px auto 20px auto;
  }
}
.gallstone-bg{
  background-image: url("/sites/default/files/images/gallstones.png");
  width: 143px;
  height: 135px;
  display: block;
  margin: 20px auto;
  background-position: center;
  @media #{$max-1024} {
    width: 130px;
    height: 125px;
    margin:20px auto 20px auto;
    background-size: contain;
  }
  @media #{$max-830}{
    width: 125px;
    height: 115px;
    margin: 20px auto 20px auto;
  }
  @media #{$max-768}{
    width: 130px;
    height: 125px;
    margin: 110px auto 20px auto;
  }
  @media #{$max-640} {
    margin:60px auto 20px auto;
  }
  @media #{$max-480}{
    background-size: contain;
    width: 96px;
    height: 90px;
    margin:50px auto 20px auto;
  }
}
.quick-enquiry{
  h2{
    font-weight: 300;
    font-size: 31px;
    color:#0497e4;
    @media #{$max-1024}{
      font-size: 26px;
    }
  }
  button.secondary, .button.secondary{
    width: 100%;
    @media #{$max-1024}{
      font-size: 14px;
      padding: 14px 28px;
    }
  }
  #rc-imageselect, .g-recaptcha {
    transform: scale(0.72);
    -webkit-transform: scale(0.72);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
select, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  background-color: #f6f6f6;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border: 0;
}
select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus{
  border: 1px solid #0497e4;
  box-shadow: none;
  outline: 0;
  background: #fff;
}
aside{
  border-left:1px solid #eeeeee;
}
input[type="file"], input[type="checkbox"], input[type="radio"], select {
  margin: 0;
}

.form-managed-file button.form-submit {
  font-size: 15px;
  padding: 7px 17px 7px 17px;
  margin: 10px 0 15px 0;
}
.star_consent label:after {
  content: "*";
  color: red;
}
.form-item .description {
  font-size: 12px;
  margin-top: -8px;
}
