// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

// Display Date select fields and date picker inline, rather than full width

.webform-container-inline div, .webform-container-inline div.form-item {
	display: inline-block;
	select {
		padding: 0.5rem 1.3rem 0.5rem 0.5rem;
	}
}

.html.js input.webform-calendar {
	display: inline;
}

input.webform-calendar {
	vertical-align: middle;
}


// Classes for embedding video responsively

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// Fix for Recaptcha (particularly on mobile) - as per https://www.geekgoddess.com/how-to-resize-the-google-nocaptcha-recaptcha/

.captcha {
	margin-bottom: 40px;
}

@media screen and (max-height: 575px){
	#rc-imageselect,
	.g-recaptcha {
		transform:scale(0.77);
		-webkit-transform:scale(0.77);
		transform-origin:0 0;
		-webkit-transform-origin:0 0;
	}
}
