// Remove border on flexslider so it's flush with edges of browser
.flexslider {
    border: 0;
}

// Fix for default slideshow prev next arrows being cut off
.flex-direction-nav a {
    display: block !important;
    height: 50px;
    top: 40%;
}

// Adjust the HEIGHT of the slideshow
.slideshow__image {
    background-size: cover;
    background-position: center center;
    height: 500px;
    position: relative;
    @media #{$max-640}{
        height: 300px;
    }
    &:before{
        content:"";
        background-image: url("/sites/default/files/images/pattern_slider.png");
        width: 25%;
        height: 500px;
        display: block;
        position: absolute;
        top:0;
        left:0;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: cover;

        @media #{$max-1024}{
            width: 25px;
            background-image: url("/sites/default/files/images/pattern_small.png");
        }
        @media #{$max-640}{
            height: 300px;
        }
    }
}

.slideshow__content {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 80px;
    margin: 0 auto;
    z-index: 6;
    max-width: 62.5rem;
    @media #{$max-640}{
        top:40px;
    }
}

.slideshow__title {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    line-height: 1.3;
    font-family: $title-font;
    width: 35%;
    @media #{$max-1024}{
        font-size: 32px;
    }
    @media #{$max-768}{
        width: 45%;
    }
    @media #{$max-640}{
       font-size: 24px;
        width: 65%;
    }
    @media #{$max-480}{
        width: 75%;
    }
    @media #{$max-420}{
        width: 80%;
    }
    @media #{$max-350}{
        width: 90%;
    }
}

.slideshow__text {
    font-weight: 300;
    font-family: $title-font;
    font-size: 22px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 35%;
    @media #{$max-1024}{
        font-size: 20px;
    }
    @media #{$max-768}{
        width: 45%;
    }
    @media #{$max-640}{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 65%;
    }
    @media #{$max-480}{
        width: 75%;
    }
    @media #{$max-420}{
        width: 80%;
    }
    @media #{$max-350}{
        width: 90%;
    }
}
.banner_wrapper{
    width: 91.6666666667%;
    margin-left: 8.3333333333%;
    padding-left: 15px;
    @media #{$max-1024}{
        width: 100%;
        margin-left: 0;
        padding-left: 45px;
    }
}
.slider-btn{
    background: #0497e4;
    border-radius: 30px;
    padding: 15px 60px;
    font-size: 18px;
    font-family: $title-font;
    &:hover{
        background-color: #fff;
        color:#0497e4;
    }
    &:focus{
        background-color: #fff;
        color:#0497e4;
    }
    @media #{$max-640}{
        padding: 12px 32px;
        font-size: 14px;
    }
}
#flexslider-1{
    margin: 0 0 90px;
    @media #{$max-1024}{
        margin: 0 0 40px 0;
    }
    ul{
        li:nth-child(1){
            .slideshow__text{
                span{
                    margin-top: -20px;
                    display: block;
                    margin-bottom: 25px;
                }
            }
        }
    }

    .flex-direction-nav {
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        bottom: 150px;
        top: inherit;
        z-index: 2;
        width: 100%;
        margin-right: 50%;
        @media #{$max-1024}{
            display: none;
        }
    }
    a.flex-prev {
        opacity: 1 !important;
        display: block !important;
        left: inherit !important;
        text-align: right;
        right: 40px;
        font-size: 0;
        bottom: inherit;
        height: 40px;
        width: 40px;
        top: 0;
        &:before{
            content: "";
            background: url('/sites/default/files/images/arrows.png');
            width: 22px;
            height: 33px;
            display: block;
            background-position: -23px 0px;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        &:hover{
            &:before{
                background-position: 0 0;
            }
        }
    }
    a.flex-next {
        opacity: 1 !important;
        display: block !important;
        right: 0;
        width: 40px;
        height: 40px;
        text-align: left;
        font-size: 0;
        top: 0;
        &:before{
            content: "";
            background: url('/sites/default/files/images/arrows.png');
            width: 22px;
            height: 33px;
            display: block;
            background-position: -45px 0;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        &:hover{
            &:before{
                background-position: -67px 0;
            }
        }
    }
    .slides{
        li:nth-child(2){
            > .slideshow__image{
               @media #{$max-375}{
                   background-position: 70% 0;
               }
            }
        }
    }
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: left;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 62.5rem;
    padding-left: 15px;
    @media #{$max-1024}{
        width: 100%;
        left:0;
        padding-left: 45px;
    }
    @media #{$max-640}{
        bottom: 10px;
    }
    li:first-child{
        margin-left: 8.3333333333%;
        @media #{$max-1024}{
            margin-left:0;
        }
    }
}
.flex-control-paging li a{
    box-shadow: none;
    background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #0497e4;
}
.flex-control-paging li a:hover{
    background: #fff;
}